<header class="post-header">
    <h2 class="post-title">
        Blog title
    </h2>
    <p class="post-meta">
        Автора поста:
        <a href="#">Админ</a>
        Дата публикации:
        <a href="#">20/08/2022</a>
    </p>
</header>

<div class="post-description">
    <p>
        Curabitur ultrices congue purus vitae rutrum. Donec sem est, tempor eu odio nec, mattis scelerisque lorem. Etiam blandit purus id neque pellentesque, egestas scelerisque lectus lobortis. Nulla vitae leo dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi quis ligula ac lacus sodales fermentum. Vestibulum felis justo, pretium consequat faucibus eget, accumsan in diam. Donec ac vestibulum mauris, sit amet mollis justo. 
    </p>
</div>

